// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.


// RESETS & FRAMEWORKS
@import "partials/reset";

// VARIABLES & MIXINS

// MEDIA QUERY RANGES
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

// GENERAL STYLES
*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: url(../assets/bg.jpg);
  display: flex;
  flex-flow: column wrap;
  margin: 0;

  header {
    display: flex;
    // justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 60px;

    #emptyHeader {

      @media #{$medium}{
      flex: 0 0 10%;
      }
    }

    #logo {

      @media #{$medium}{
      flex: 0 0 80%;
      }

      #mainLogo {
        display: flex;

        @media #{$medium}{
          // display: flex;
          flex: 1 0 auto;
        }
      }

      #logoWrap {
        display: flex;

        @media #{$medium}{
          background: url(../assets/header_bg.svg);
          background-repeat: no-repeat;
        }
      }
    }

    #menu {
      // display: ;
      // justify-content: flex-end;

      @media #{$medium}{
      flex: 0 0 10%;
      }
    }
  }

  #navBar {
    background-color: #404040;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    .navBarList {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      color: #a6a6a6;
      display: flex;
      align-items: center;
      border-left: 1px solid #a6a6a6;
      padding-left: 15px;
      padding-right: 15px;

      @media #{$medium}{
        border: none;
      }

      &:first-child {
        border-left: none;
      }

      &:hover {
        color: #ff9933;
      }
    }
  }

  .storyContainer {
    display: flex;
    flex-flow: column wrap;

    @media #{$medium}{
      margin: 35px;
    }

    // @media #{$large}{
    //   margin: 90px;
    // }

    .story {
      background-color: #ffffff;
      margin: 10px;
      // padding: 20px;
      // flex: 0 0 100%;

      &:hover {
        border: 5px solid #ff9933;
      }

      .thumbnail {
        width: 100%
      }

      .storyText {
        display: block;
        font-size: 20px;
      }
    }
  }

  #footer {
    display: flex;

    @media #{$large}{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #404040;
      height: 60px;
    }

    #fb {

      @media #{$large}{
        content: url(../assets/facebook_grey.svg);
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    #ig {

      @media #{$large}{
        content: url(../assets/instagram_grey.svg);
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
}